PORT=3000
MONGODB_URI=mongodb://localhost:27017/ticari-takip
SESSION_SECRET=gizli-oturum-anahtari-buraya-yaz

ADMIN1_USERNAME=admin1
ADMIN1_PASSWORD=sifre123

ADMIN2_USERNAME=admin2
ADMIN2_PASSWORD=sifre456
